html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	font-family: popins;
}
nav{
	   width:100%;
       background-color: #000000;
       overflow: hidden;
       position:fixed;
       top: 0;
       padding: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
li{
	float: left;
}
a{
	padding: 20px;
	width: 100px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#section0{
	height: 750px;
	background-image: url(../image/image8.jpg);
	display: inline-block;
	width: 100%;
	animation: slide 20s infinite;
}
#section0 h1{
	margin-left: 7%;
	margin-top: 1%;
	font-family: 'Lobster', cursive;
	animation: text 3s 1;
	font-size: 350%;
}
#section0 img{
	margin-left:40%;
	margin-top: 17%;
	border-radius: 50%;
}
#section1{
	height: 750px;
	background-image: url(../image/image2.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: inline-block;
	width: 100%;
	font-family: sans-serif;
	color: black;
	filter: alpha(opacity=10);
}
#section1 img{
	margin-left: 30%;
	margin-top: 0%;
	border-radius: 5%;
}
#section1 p{
	margin-left: 3%;
	margin-right: 3%;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	animation: text 3s 1;
}
#section1 h2{
	margin-left: 3%;
	animation: text 3s 1;
	font-family: 'Indie Flower', cursive;
}
#section h1{
    font-family: 'Indie Flower', cursive;
    font-size: 35px;		
}
#section2{
	height: 750px;
	background-image: url(../image/image3.jpg);
	display: inline-block;
	width: 100%;
	animation: text 3s 1;
	filter: alpha(opacity=50);
}
#section2 img{
	margin-left: 30%;
	margin-top: 3%;
	border-radius: 5%;
}
#section2 p{
	margin-left: 3%;
	margin-right: 3%;
	animation: text 3s 1;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
}
#section3 p{
	text-transform: none;
}
#section3{
	height: 750px;
	background-image: url(../image/image9.jpg);
	display: inline-block;
	width: 100%;
	animation: text 3s 1;
	filter: alpha(opacity=50);
}	
@keyframes text{
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
}
@keyframes slide{
	0%{
		background-image: url(../image/image8.jpg);
		background-size: cover;
	}
	33%{
		background-image: url(../image/akg.jpg);
		background-size: cover;
	}
	67%{
		background-image: url(../image/si.jpg);
		background-size: cover;
	}
}
h1{
	margin: 100px;
	text-align: center;
	font-family: serif;
	padding: 0;
}