html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	font-family: popins;
}
nav{
	width:100%;
    background-color: #000000;
    overflow: hidden;
    position:fixed;
    top: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
li{
	float: left;
}
a{
	padding: 20px;
	width: 100px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#section0{
	height: 750px;
	background-image: url(../image/image8.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: inline-block;
	width: 100%;
	animation: slide 20s infinite;
}
#section1{
	height: 750px;
	background-image: url(../image/image2.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: inline-block;
	width: 100%;
	animation: text 3s 1;
	font-family: sans-serif;
	color: black;
	filter: alpha(opacity=50);
}
#section2{
	height: 750px;
	background-image: url(../image/image3.jpg);
	display: inline-block;
	width: 100%;
	animation: text 3s 1;
	filter: alpha(opacity=50);
}
#section3{
	height: 750px;
	background-image: url(../image/image4.jpg);
	display: inline-block;
	width: 100%;
	animation: text 3s 1;
	filter: alpha(opacity=50)
}
#section4{
	height: 800px;
	background-image: url(../image/image9.jpg);
	display: inline-block;
	width: 100%;
    animation: text 3s 1;
}
@keyframes text{
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
}
@keyframes slide{
	0%{
		background-image: url(../image/image8.jpg);
	}
	33%{
		background-image: url(../image/image6.jpg);
	}
	67%{
		background-image: url(../image/image7.jpg);
	}
}
h1{
	margin: 100px;
	text-align: center;
	font-family: serif;
	padding: 0;
}